/*-------------------
 Main Section Start
 --------------------*/

/* Big Carrusel Start */


  .slider {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    border-radius: 10px;
    margin-top: 1.5rem;

    .images {
      display: flex;
      width: 100%;
      height: 25rem;

      img {
        flex-shrink: 0;
        width: 100%;
        transition: all 1s ease;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      input {
        display: none;
      }
    }

    .dots {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      label {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 2px solid black;
        cursor: pointer;
        transition: all 0.5s ease;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
          background: black;
        }
      }
    }
    #img1:checked ~ .ice1 {
        margin-left: 0;
      }

      #img2:checked ~ .ice2 {
        margin-left: -100%;
      }
      #img3:checked ~ .ice3 {
        margin-left: -200%;
      }
      #img4:checked ~ .ice4 {
        margin-left: -300%;
      }
  }

  /* Flavours Section Start */

  h2 {
    font-size: 1.2rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    text-align: center;
  }

  .flavours {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;

    p {
      text-align: center;
      width: 200px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .primeraFila > div,
    .segundaFila > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }

    .primeraFila img ,
    .segundaFila img {
      width: 150px;
      filter: drop-shadow(0 0 1rem rgb(95, 92, 92));
    }

    /* Flavours Section End */
  }


/*----------------------
 Tablet Responsive Start
 ----------------------- */

@media screen and (min-width: 768px) {
  .images {
    height: 31.25rem;

    .dots {
      label {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .flavours {
    grid-template-columns: none;

    .primeraFila,
    .segundaFila {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .segundaFila {
      margin-bottom: 2rem;
    }
  }
}

/* Tablet Responsive End */

/*-----------------------
 Desktop Responsive Start
 ------------------------ */

@media screen and (min-width: 1200px) {
  .slider {
    margin-top: 4rem;

    .images {
      height: 37.5rem;
    }

    .dots {
        label {
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 3rem;
        }
      }
  }

 

  h2 {
    font-size: 1.7rem;
  }

  .primeraFila,
  .segundaFila {
    justify-content: center;
    background-color: red;
    padding-right: 10rem;

    img {
      filter: none;

      &:hover {
        transform: scale(1.1);
        transition-timing-function: ease-in-out;
        filter: drop-shadow(0 0 1rem rgb(95, 92, 92));
        cursor: pointer;
      }
    }
  }

  .segundaFila {
    margin-bottom: 5rem;
  }

  .primeraFila > div,
  .segundaFila > div {
    margin-left: 5rem;
  }


}
