@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@mixin areas($area) {
    grid-area: $area;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin hidden-anchor{
      position: relative;
      top: -100px;
      visibility: hidden;
}