@charset "UTF-8";
/* Imports */
.header {
  grid-area: header;
}

header {
  position: fixed;
  background-color: black;
  width: 100%;
  text-transform: uppercase;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Nav Start */
  /* Nav End */
  /* Icons Start */
  /* Icons End */
}

header .hamburger i {
  font-size: 2.5rem;
  color: white;
}

header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 120px;
  font-family: "PT Serif", serif;
}

header .logo-container .logo {
  width: 2.5rem;
  margin-top: 5px;
}

header .logo-container .title {
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
  margin-left: 22px;
}

header .logo-container .separador {
  width: 30px;
  height: 1px;
  background-color: gold;
}

header .logo-container .subtitle {
  letter-spacing: 5px;
  font-size: 0.625rem;
  margin-top: 5px;
  margin-left: 5px;
  color: white;
}

header .hamburger .nav-input {
  display: none;
}

header .hamburger .nav-label {
  display: block;
}

header .hamburger .nav-menu {
  position: fixed;
  top: 120px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d6ad61;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .hamburger .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

header .hamburger .nav-menu ul li {
  list-style-type: none;
}

header .hamburger .nav-menu ul .nav-item {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

header .hamburger .nav-input:checked + .nav-menu {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

header .socials i {
  color: white;
  font-size: 1.7rem;
}

header .socials i:hover {
  color: gold;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

/* Tablet Responsive */
@media screen and (min-width: 768px) {
  header .hamburger i {
    font-size: 3.125rem;
  }
  header .logo-container .logo {
    width: 3.125rem;
  }
  header .socials i {
    font-size: 2.3rem;
  }
}

/* Desktop Responsive */
@media screen and (min-width: 1200px) {
  header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .logo-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 2rem;
  }
  header .logo-container .logo:hover {
    cursor: pointer;
  }
  header .hamburger {
    width: 75rem;
  }
  header .hamburger i {
    display: none;
  }
  header .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .socials i {
    margin-left: 50px;
    font-size: 2.5rem;
  }
  header .socials i:hover {
    color: gold;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
  }
  header .hamburger .nav-menu {
    position: static;
    top: 0;
    background-color: transparent;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .hamburger .nav-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .hamburger .nav-menu ul .nav-item {
    font-size: 1.1rem;
    --clippy: polygon(0 0, 0 0, 0 94%, 0% 100%);
  }
  header .hamburger .nav-menu ul .nav-item:hover {
    color: gold;
    cursor: pointer;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .hamburger .nav-menu ul .nav-item::after {
    content: " ";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 1px;
    -webkit-clip-path: var(--clippy);
            clip-path: var(--clippy);
    -webkit-transition: -webkit-clip-path 0.3s;
    transition: -webkit-clip-path 0.3s;
    transition: clip-path 0.3s;
    transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  }
}

/*-------------------
 Main Section Start
 --------------------*/
/* Big Carrusel Start */
.slider {
  position: relative;
  width: 90%;
  overflow: hidden;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.slider .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25rem;
}

.slider .images img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slider .images input {
  display: none;
}

.slider .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.slider .dots label {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.slider .dots label:hover {
  background: black;
}

.slider #img1:checked ~ .ice1 {
  margin-left: 0;
}

.slider #img2:checked ~ .ice2 {
  margin-left: -100%;
}

.slider #img3:checked ~ .ice3 {
  margin-left: -200%;
}

.slider #img4:checked ~ .ice4 {
  margin-left: -300%;
}

/* Flavours Section Start */
h2 {
  font-size: 1.2rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  text-align: center;
}

.flavours {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  /* Flavours Section End */
}

.flavours p {
  text-align: center;
  width: 200px;
  font-weight: bold;
  letter-spacing: 2px;
}

.flavours .primeraFila > div,
.flavours .segundaFila > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.flavours .primeraFila img,
.flavours .segundaFila img {
  width: 150px;
  -webkit-filter: drop-shadow(0 0 1rem #5f5c5c);
          filter: drop-shadow(0 0 1rem #5f5c5c);
}

/*----------------------
 Tablet Responsive Start
 ----------------------- */
@media screen and (min-width: 768px) {
  .images {
    height: 31.25rem;
  }
  .images .dots label {
    height: 1.3rem;
    width: 1.3rem;
  }
  h2 {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .flavours {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .flavours .primeraFila,
  .flavours .segundaFila {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flavours .segundaFila {
    margin-bottom: 2rem;
  }
}

/* Tablet Responsive End */
/*-----------------------
 Desktop Responsive Start
 ------------------------ */
@media screen and (min-width: 1200px) {
  .slider {
    margin-top: 4rem;
  }
  .slider .images {
    height: 37.5rem;
  }
  .slider .dots label {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 4rem;
  }
  h2 {
    font-size: 1.7rem;
    padding-left: 2rem;
  }
  .primeraFila,
  .segundaFila {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 4rem;
  }
  .primeraFila img,
  .segundaFila img {
    -webkit-filter: none;
            filter: none;
  }
  .primeraFila img:hover,
  .segundaFila img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-filter: drop-shadow(0 0 1rem #5f5c5c);
            filter: drop-shadow(0 0 1rem #5f5c5c);
    cursor: pointer;
  }
  .segundaFila {
    margin-bottom: 5rem;
  }
  .primeraFila > div,
  .segundaFila > div {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .slider .dots label {
    margin-right: 5rem;
  }
  .slider h2 {
    padding-right: 5rem;
  }
  .slider .primeraFila,
  .slider .segundaFila {
    padding-right: 8rem;
  }
}

.sabores-grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: "cremas" "dulce-de-leche" "frutales" "chocolates" "veganos" "especiales" "postres" "sin-lactosa";
}

.sabores-grid-container .cremas {
  grid-area: cremas;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sabores-grid-container .dulce-de-leche {
  grid-area: dulce-de-leche;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sabores-grid-container .frutales {
  grid-area: frutales;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sabores-grid-container .chocolates {
  grid-area: chocolates;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sabores-grid-container .veganos {
  grid-area: veganos;
}

.sabores-grid-container .especiales {
  grid-area: especiales;
}

.sabores-grid-container .postres {
  grid-area: postres;
}

.sabores-grid-container .sin-lactosa {
  grid-area: sin-lactosa;
}

.sabores-grid-container div > h3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  background-color: grey;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.sabores-grid-container .flavours-card {
  margin-bottom: 1.5rem;
}

.sabores-grid-container .flavours-card img {
  width: 10rem;
  -webkit-filter: drop-shadow(0 0 0.4rem #5f5c5c);
          filter: drop-shadow(0 0 0.4rem #5f5c5c);
  border-radius: 1rem;
}

.sabores-grid-container .primera-fila-sabores {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sabores-grid-container .segunda-fila-sabores {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*Tablet responsive start*/
@media screen and (min-width: 768px) {
  .sabores-grid-container .cremas {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .sabores-grid-container .dulce-de-leche {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .sabores-grid-container .frutales {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .sabores-grid-container .chocolates {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .sabores-grid-container .flavours-card img {
    width: 8.5rem;
  }
  .sabores-grid-container .primera-fila-sabores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sabores-grid-container .segunda-fila-sabores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/*Desktop responsive Start*/
@media screen and (min-width: 1200px) {
  .sabores-grid-container div h3 {
    margin-top: 2.5rem;
  }
  .flavours-card img {
    width: 10rem;
  }
  .flavours-card img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-filter: drop-shadow(0 0 1rem #5f5c5c);
            filter: drop-shadow(0 0 1rem #5f5c5c);
    cursor: pointer;
  }
  .flavours-card p {
    padding-top: 0.5rem;
  }
  .primera-fila-sabores {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  .segunda-fila-sabores {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1600px) {
  .sabores-grid-container div h3 {
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 3rem;
    letter-spacing: 0.3rem;
  }
  .sabores-grid-container div h3:hover {
    background-color: goldenrod;
    color: white;
    cursor: pointer;
  }
  .sabores-grid-container .flavours-card img {
    width: 15rem;
  }
  .sabores-grid-container .flavours-card p {
    font-size: 1.2rem;
  }
}

.footer {
  grid-area: footer;
}

footer {
  background-color: black;
  font-family: "PT Serif", serif;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo-footer-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

footer .logo-footer-container .logo-footer {
  width: 60px;
  margin-right: 10px;
}

footer .logo-footer-container h3 {
  letter-spacing: 2px;
  font-size: 1em;
}

footer .copyright {
  text-align: center;
  font-size: 18px;
}

footer .copyright .author {
  color: white;
}

footer .copyright .author:hover {
  color: gold;
  cursor: pointer;
}

footer .socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

footer .socials-footer .follow {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

footer .socials-footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

footer .socials-footer i {
  color: white;
  font-size: 2rem;
}

footer .socials-footer i:hover {
  color: gold;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

/*----------------------
 Tablet Responsive Start
 ----------------------- */
@media screen and (min-width: 768px) {
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1rem;
  }
  footer .socials-footer i {
    font-size: 2.3rem;
  }
}

/*-----------------------
 Desktop Responsive Start
 ------------------------ */
@media screen and (min-width: 1200px) {
  .follow {
    font-size: 1.5rem;
  }
  .socials-footer i {
    font-size: 2.5rem;
  }
}

/* Configuración Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html .grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: "header" 120px "main" auto "footer" 120px;
  min-height: 100%;
}

html .main {
  grid-area: main;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
/*# sourceMappingURL=styles.css.map */