/* Imports */
@import "header";  
@import "inicio";
@import "sabores";
@import "about";
@import "donde-estamos";
@import "contacto";
@import "footer";


/* Configuración Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;

    .grid-container {
        display: grid;
        grid-template:
          "header" 120px
          "main" auto
          "footer" 120px;
          min-height: 100%;
    }

    .main{
        grid-area: main;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    }

}

